.jumbotron {
  background-color: rgb(104, 127, 198);
  font-family: 'Raleway', monospace;
}

#amen {
  font-size: 350%;
  background-color: rgb(63, 163, 136);
}

#flex {
  height: 300%;
  font-size: 350%;
  color: rgb(102, 117, 172);
  font-family: 'Raleway', sans-serif;
}
